[submodule "lib/raw_pdb"]
	path = lib/raw_pdb
	url = https://github.com/MolecularMatters/raw_pdb
[submodule "lib/parallel_hashmap"]
	path = lib/parallel_hashmap
	url = https://github.com/greg7mdp/parallel-hashmap
[submodule "lib/detours/detours"]
	path = lib/detours/detours
	url = https://github.com/microsoft/Detours
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
	branch = master
[submodule "lib/demangler"]
	path = lib/demangler
	url = https://github.com/LiteLDev/Demangler
